.phone-in-catalogue-container {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05), 0 0 8px 0 rgba(0,0,0,.1);

    .phone-image {
        max-width: 230px;
        max-height: 230px;
        
        img {
            max-width: 230px;
            max-height: 230px;
        }
    }

    h2 {
        margin: 0;
    }
    
    .price {
        color: #1890ff;
    }

    .see-details-button {
        margin: 10px 0;
        width: 100%;
    }
}

.phone-in-catalogue-container:hover {
    box-shadow: 0px 0px 5px 5px #1890ff;
    cursor: pointer;
}

@media only screen and (max-width: 415px) {
    .phone-in-catalogue-container {
        width: 45vw;
        height: 65vw;
        margin: 5px;
        padding: 10px;
        
        .phone-image {
            max-width: 30vw;
            max-height: 45vw;
            
            img {
                max-width: 30vw;
                max-height: 45vw;
                margin-top: 30px;
            }
        }

        .see-details-button {
            visibility: hidden;
        }
    }    
}