.phone-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .phone {
        height: 100%;

        .breadcrumb {
            display: flex;
            margin: 25px 100px;
        }
    }
}